<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ball_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,0},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>bgwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,228},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,292},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>boxedge.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,0},{25,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,95}}</string>
                <key>sourceSize</key>
                <string>{25,95}</string>
            </dict>
            <key>boxedge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,292},{94,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,25}}</string>
                <key>sourceSize</key>
                <string>{94,25}</string>
            </dict>
            <key>circle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,0},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>circle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,0},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,0},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gear_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,292},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ironball_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,292},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ironbat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{12,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,154}}</string>
                <key>sourceSize</key>
                <string>{12,154}</string>
            </dict>
            <key>levelBtn00.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,495},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,611},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,669},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,611},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,669},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,553},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,553},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,495},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{210,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,109}}</string>
                <key>sourceSize</key>
                <string>{210,109}</string>
            </dict>
            <key>pipe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>pipe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,154},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>playBtn00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,228},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,228},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>startBtn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,821},{384,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,94}}</string>
                <key>sourceSize</key>
                <string>{384,94}</string>
            </dict>
            <key>startBtn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,727},{384,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,94}}</string>
                <key>sourceSize</key>
                <string>{384,94}</string>
            </dict>
            <key>uiBtn01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,228},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,228},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,228},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wheel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIBTN.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05aa6d913def5e0f20ef73c868a9a1ae:e8481969997b0067e3ff801c381162b6:9df366cc732d42ce9c4fb682accfb911$</string>
            <key>textureFileName</key>
            <string>UIBTN.png</string>
        </dict>
    </dict>
</plist>
